{% extends "base.html.twig" %}

<h1>Moyen de Paiement</h1>

<p><a href="/payment/add" class="btn btn-primary">Ajouter une moyen</a></p>
<p><a href="/payment/edit/2">CB AURELIEN</a></p>
<p><a href="/payment/edit/3">CB LI</a></p>
<p><a href="/payment/edit/8">CB VISA AURELIEN</a></p>
<p><a href="/payment/edit/4">CHEQUE</a></p>
<p><a href="/payment/edit/5">DEPOT</a></p>
<p><a href="/payment/edit/7">PRELEVEMENT</a></p>
<p><a href="/payment/edit/1">VIREMENT</a></p>
